################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Schedule
/ScheduleService/bin/Debug/net7.0-windows
/ScheduleService/obj
